@charset "UTF-8";

*{margin: 0; padding:0;}
ul{list-style: none;}
a{text-decoration: none; color:#000;}
img{border:none; vertical-align: top;}

header{
    width: 1400px;
    margin: 0 auto;
}
header .top-menu{
    
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .top-menu .logo img{width: 240px;}
header .top-menu .gnb{display: flex;}
header .top-menu .gnb>li{
    margin-left: 50px;
    font-size: 19px;
}
header .top-menu .gnb>li>a{
    display: block;
    padding:0px 15px;
    height: 40px;
    transition: color 0.3s;
    border-bottom: 3px solid transparent;
}
header .top-menu .gnb>li:hover>a{    
    border-bottom: 3px solid #ff281e;
    color:#ff281e;
}
/* 오른쪽 픽스 메뉴-------------------------- */
header .fixed-menu{
    background-color: #252525;
    width: 90px;
    padding:10px;
    box-sizing: border-box;
    border-radius: 15px;
    position: fixed;
    right:30px; bottom:60px;
    z-index: 999999;
}
header .fixed-menu li{
    text-align: center; 
    padding:10px 0;
}


/* position 활용하기---------------------- */
header .fixed-menu li .btn-wrap{
    position: relative;
    height: 40px;
}
/* position: relative; ---------------------
   .btn-wrap은 겹칠 친구의 기준값이 됩니다 ----- */

header .fixed-menu li .btn-wrap img{
    position: absolute;
    left:50%; top:0;
    transform: translateX(-50%);
    transition: all 0.3s;
}
/* position: absolute; ---------------------
   img끼리 겹치게 해줍니다 -------------------- */

header .fixed-menu li .btn-wrap img:nth-child(1){
    z-index: 10;
}
header .fixed-menu li .btn-wrap img:nth-child(2){
    opacity: 0;
}
header .fixed-menu li:hover img:nth-child(1){
    opacity: 0;
}
header .fixed-menu li:hover img:nth-child(2){
    opacity: 1;
}

header .fixed-menu li p{
    color:#fff;
    font-size: 13px;
    letter-spacing: -1px;
    margin-top: 5px;
    transition: all 0.5s;
}
header .fixed-menu li:hover p{
    color:#ff281e;
}

header .fixed-menu li:nth-child(1){    
    border-bottom:1px solid #606060;
    margin-bottom: 10px;   
    padding-bottom: 20px;
}
header .fixed-menu li:nth-child(1) p{
    margin-top: -5px;
    font-size: 14px; font-weight: bold;
    letter-spacing: 0px;
}

/* section > main-banner------------------ */
section .main-banner{
    width: 100%; height: 820px;
    background-image: url(images/S2506160256085_2.jpg);
}



/* section > brand-story------------------ */
section .brand-story{
    width: 700px;
    margin: 0 auto;
    /* background-color: antiquewhite;     */
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
}
section .brand-story h3 img{width: 520px;}
section .brand-story .m-tit{
    font-size: 1.45em;
    font-weight: normal;
}
section .brand-story .s-tit{
    color:#7b7b7b;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 60px;
}
section>div div.btn{
    width: 200px; height: 50px;
    margin: 0 auto;
    border:2px solid rgb(33, 33, 33);
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    font-size: 17px;
}


/* section > toast-menu------------------------- */
section .toast-menu{
    background-color: #ff281e;
    text-align: center; 
    padding-top: 150px;  
    padding-bottom: 150px;   
}
section .toast-menu .menu-tit{
    color:#fff;
    font-size: 3.7em;
}
section .toast-menu .menu-tab{
    display: flex;
    width: 370px; margin: 0 auto;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    margin-bottom: 50px;
}
section .toast-menu .menu-tab>li{
    color:rgb(221, 221, 221);
    font-size: 1.1em;
    transition: all 0.5s;
    cursor: pointer;
}
section .toast-menu .menu-tab>li.on{
    background-color: #c4170e;
    padding: 10px 25px;
    color:#fff;
    border-radius: 50px;
}
section .toast-menu .menu-tab>li:hover{
    color:rgb(255, 255, 255);
}

section .toast-menu .m-explain{
    display: flex;
    width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 50px;
}
section .toast-menu .m-explain>li{
    width:330px; height: 395px;
    background-color: #fff;
    border-radius: 20px;
}
section .toast-menu .m-explain>li img{
    width: 280px;
}
section .toast-menu .m-explain>li .menu-name{
    width: 290px;
    margin: 0 auto;
    border-top: 1px solid rgb(226, 226, 226);
    padding-top:30px;
}
section .toast-menu .m-explain>li .menu-name p:nth-child(1){
    font-size: 22px; color:#353535;
    letter-spacing: -1px;
}
section .toast-menu .m-explain>li .menu-name p:nth-child(2){
    font-size: 14px; color:#a5a5a5;
}
section .toast-menu .m-btn{
    border-color: #fff;
    color:#fff;
}
    

/* section > franchise ---------------- */
section .franchise{
    width: 100%;
    height: 635px;
    background-image: url(images/underbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
section .franchise .red-circle{
    width: 1000px;
    height: 1000px;
    background-color: #ff281e;
    border-radius: 50%;
    position: absolute;
    left:-220px; 
    top:-200px;
}
section .franchise .red-circle .circle-txt{
    width: 400px;
    position: absolute;
    left:0px; top:350px;
    /* background-color:rgb(133, 114, 89); */
}
section .franchise .red-circle .with-tit{
    color:#fff;
    font-size: 60px;
    line-height: 60px;
}
section .franchise .red-circle .with-sub{
    color:#fff;
    font-size: 23px;
    margin-top: 25px;
    margin-bottom: 40px;
}
section .franchise .red-circle .f-btn{
    color:#fff;
    border-color: #fff;
    margin-left: 0px;
}